name: caseStatement
description: Case statement
phrase: case
insertionScope: branch

$caseBody.wrapperScope: statement
---

language: typescript | typescriptreact | javascript | javascriptreact | cpp | c | java | csharp
-
case $caseValue:
    $caseBody
    break;
---
