name: elseIfStatement
description: Else if statement
phrase: elsif
insertionScope: ifStatement
---

language: typescript | typescriptreact | javascript | javascriptreact | cpp | c | java | csharp
-
else if ($condition) {
    $alternative
}
---

language: python
-
elif $condition:
    $alternative
---
