name: elseIfStatement
phrase: elsif
insertionScope: ifStatement

$1.wrapperPhrase: elsif cond
$1.wrapperScope: statement
$0.wrapperPhrase: elsif
$0.wrapperScope: statement
---

language: javascript | cpp | c | java | csharp
-
else if ($1) {
    $0
}
---

language: python
-
elif $1:
    $0
---
