name: elseStatement
description: Else statement
phrase: else
insertionScope: branch
---

language: typescript | typescriptreact | javascript | javascriptreact | cpp | c | java | csharp
-
else {
    $alternative
}
---

language: python
-
else:
    $alternative
---
