name: elseStatement
description: Else statement
phrase: else
insertionScope: branch

$0.wrapperPhrase: else
$0.wrapperScope: statement
---

language: javascript | java | cpp | c | csharp
-
else {
    $0
}
---

language: python
-
else:
    $0
---
