name: ifStatement
phrase: if
insertionScope: statement

$condition.wrapperPhrase: condition
$condition.wrapperScope: statement
$consequence.wrapperPhrase: if
$consequence.wrapperScope: statement
---

language: javascript | java | cpp | c | csharp | typescript | typescriptreact
-
if (${condition/^([^;]*);?$/$1/}) {
    $consequence
}
---

language: python
-
if $condition:
    $consequence
---

language: shellscript
-
if $condition; then
    $consequence
fi
---
