name: lambdaExpression
description: Lambda expression
phrase: lambda

$expression.wrapperPhrase: lambda
---

language: typescript | typescriptreact | javascript | javascriptreact

$parameters.insertionFormatter: PRIVATE_CAMEL_CASE
-
($parameters) => ($expression)
---

language: python

$parameters.insertionFormatter: SNAKE_CASE
-
lambda $parameters: $expression
---
