name: link
description: Link
phrase: link

$text.wrapperPhrase: link
---

language: markdown
-
[$text](${url:$CLIPBOARD})
---

language: typescript | javascript | typescriptreact | javascriptreact
-
{@link $text}
---
