name: map
description: Map
phrase: map

$value.wrapperPhrase: map
---

language: javascript | typescript | typescriptreact | javascriptreact
-
{
    $key: $value
}
---

language: json | jsonc | python
-
{
    "$key": $value
}
---
