name: switchStatement
description: Switch statement
phrase: switch
insertionScope: statement

$caseBody.wrapperPhrase: switch
$caseBody.wrapperScope: statement
---

language: typescript | typescriptreact | javascript | javascriptreact | cpp | c | java | csharp
-
switch ($value) {
    case $caseValue:
        $caseBody
        break;
}
---
