name: switchStatement
description: Switch statement
phrase: switch
insertionScope: statement

$caseBody.wrapperPhrase: switch
$caseBody.wrapperScope: statement
---

language: javascript | java | cpp | c | csharp
-
switch ($value) {
    case $caseValue:
        $caseBody
        break;
}
---

language: python
-
match $value:
    case $caseValue:
        $caseBody
        break;
---
