name: useEffect
description: React useEffect hook
phrase: use effect

$body.wrapperPhrase: use effect
$body.wrapperScope: statement
---

language: typescriptreact
-
useEffect(() => {
    $body
}, [$conditionVariable]);
---
