name: whileStatement
phrase: while
insertionScope: statement

$body.wrapperPhrase: while
$body.wrapperScope: statement
---

language: typescript | typescriptreact | javascript | javascriptreact
-
while ($condition) {
    $body
}
---

language: python
-
while $condition:
    $body
---
